<a href="https://colab.research.google.com/github/partharoypc/Python-Practice-/blob/main/Day_03_for_Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/sample_data/mnist_train_small.csv")

In [ ]:
df

       6  0  0.1  0.2  0.3  0.4  ...  0.585  0.586  0.587  0.588  0.589  0.590
0      5  0    0    0    0    0  ...      0      0      0      0      0      0
1      7  0    0    0    0    0  ...      0      0      0      0      0      0
2      9  0    0    0    0    0  ...      0      0      0      0      0      0
3      5  0    0    0    0    0  ...      0      0      0      0      0      0
4      2  0    0    0    0    0  ...      0      0      0      0      0      0
...   .. ..  ...  ...  ...  ...  ...    ...    ...    ...    ...    ...    ...
19994  0  0    0    0    0    0  ...      0      0      0      0      0      0
19995  1  0    0    0    0    0  ...      0      0      0      0      0      0
19996  2  0    0    0    0    0  ...      0      0      0      0      0      0
19997  9  0    0    0    0    0  ...      0      0      0      0      0      0
19998  5  0    0    0    0    0  ...      0      0      0      0      0      0

[19999 rows x 785 columns]

In [ ]:
from bs4 import BeautifulSoup
import requests

In [ ]:
df1=pd.read_csv("/content/sample_data/california_housing_train.csv")
df1

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
df2=pd.read_csv("https://pythonhow.com/supermarkets.csv")
df2

   ID          Address           City  ... Country         Name Employees
0   1     3666 21st St  San Francisco  ...     USA      Madeira         8
1   2   735 Dolores St  San Francisco  ...     USA  Bready Shop        15
2   3      332 Hill St  San Francisco  ...     USA  Super River        25
3   4     3995 23rd St  San Francisco  ...     USA   Ben's Shop        10
4   5  1056 Sanchez St  San Francisco  ...     USA      Sanchez        12
5   6  551 Alvarado St  San Francisco  ...     USA   Richvalley        20

[6 rows x 7 columns]

In [ ]:
df2.set_index("Address")

                 ID           City  ...         Name Employees
Address                             ...
3666 21st St      1  San Francisco  ...      Madeira         8
735 Dolores St    2  San Francisco  ...  Bready Shop        15
332 Hill St       3  San Francisco  ...  Super River        25
3995 23rd St      4  San Francisco  ...   Ben's Shop        10
1056 Sanchez St   5  San Francisco  ...      Sanchez        12
551 Alvarado St   6  San Francisco  ...   Richvalley        20

[6 rows x 6 columns]

In [6]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [8]:
import numpy as np

In [26]:
random_df=pd.DataFrame(np.random.rand(200,10))

In [23]:
random_df.head()

          0         1         2  ...         7         8         9
0  0.139101  0.213382  0.669902  ...  0.998776  0.936826  0.829805
1  0.575371  0.920069  0.340385  ...  0.169582  0.908532  0.490372
2  0.984100  0.547694  0.694067  ...  0.402561  0.858364  0.203180
3  0.130912  0.100176  0.085755  ...  0.090609  0.371509  0.707755
4  0.676135  0.524787  0.674733  ...  0.151281  0.383536  0.486280

[5 rows x 10 columns]

In [16]:
random_df.shape

(20, 10)

In [20]:
random_df.head()

          0         1         2  ...         7         8         9
0  0.307985  0.268657  0.449859  ...  0.757163  0.887566  0.042803
1  0.272180  0.285200  0.463149  ...  0.895461  0.438890  0.300733
2  0.906743  0.239085  0.459512  ...  0.372137  0.794184  0.415816
3  0.972252  0.670491  0.033351  ...  0.136327  0.620098  0.344069
4  0.836700  0.647014  0.358194  ...  0.115015  0.791920  0.520612

[5 rows x 10 columns]

In [24]:
random_df.tail()

            0         1         2  ...         7         8         9
195  0.850103  0.119217  0.255128  ...  0.903996  0.568110  0.871832
196  0.531361  0.678780  0.192260  ...  0.938384  0.537630  0.471521
197  0.435063  0.017808  0.091467  ...  0.648148  0.265176  0.425946
198  0.792829  0.766479  0.070526  ...  0.486878  0.485090  0.660879
199  0.162165  0.369777  0.528432  ...  0.846073  0.668447  0.429870

[5 rows x 10 columns]

In [27]:
random_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       200 non-null    float64
 1   1       200 non-null    float64
 2   2       200 non-null    float64
 3   3       200 non-null    float64
 4   4       200 non-null    float64
 5   5       200 non-null    float64
 6   6       200 non-null    float64
 7   7       200 non-null    float64
 8   8       200 non-null    float64
 9   9       200 non-null    float64
dtypes: float64(10)
memory usage: 15.8 KB

In [28]:
random_df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [29]:
Diabetis_df=pd.read_csv("/content/diabetes.csv")

In [30]:
Diabetis_df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [31]:
Diabetis_df.value_counts("Outcome")

Outcome
0    500
1    268
dtype: int64

In [32]:
Diabetis_df.groupby("Outcome").mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [33]:
 Diabetis_df.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [34]:
Diabetis_df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [35]:
Diabetis_df.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [36]:
Diabetis_df.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [37]:
Diabetis_df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [38]:
Diabetis_df.corr()

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]